.breadcrumb {
  color: $whiteColor;
  position: relative;
  aspect-ratio: 1/0.25;
  padding-block: 20px;
  margin: 0;
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }

  > .container {
    @include displayflex();
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    max-width: 800px;
    inset-inline-end: unset;
    z-index: 0;

    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
