.footer-wrapper {
  .footer {
    border-block-start: 3px solid $mainColor;
    padding-block: 30px;

    .logo {
      img {
        width: 160px;
        max-width: 100%;
        margin-block-end: 20px;
      }
    }

    .title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .footer-links {
      column-count: 3;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .rights {
    padding-block: 15px;
    color: $whiteColor;
    background-color: $fontColor;
  }
}

.dark-page {
  ~ .footer-wrapper {
    background-color: #1b1919;
    color: $whiteColor;

    .footer {
      border: none;
    }

    .rights {
      background-color: #1b1919;
    }
  }
}
