.navbar {
  color: $whiteColor;
  background-color: $navColor;
  padding-block: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: $transition;
  position: relative;

  &.fixed-nav {
    position: fixed;
    inset: 0;
    inset-block-end: unset;
  }

  .content {
    @include displayflex($justify: space-between, $wrap: wrap);

    .navbar-collapse {
      flex: unset;

      .navbar-nav {
        gap: 0 30px;

        .nav-item {
          .nav-link {
            padding-inline: 0;
            font-weight: bold;
            text-transform: capitalize;

            &::after {
              display: none;
            }

            &,
            &.active {
              color: $whiteColor;
            }
          }

          &.dropdown {
            .dropdown-menu {
              color: $whiteColor;
              background-color: #3c3c3c;
              border: none;
              border-radius: 0;
              inset-block-start: calc(100% + 12px);
              padding: 0;
              margin-top: 0;
              max-height: 70vh;

              .dropdown-item {
                color: $whiteColor;
                transition: $transition;

                &:hover,
                &:focus {
                  background-color: $mainColor;
                }

                &:not(:last-of-type) {
                  border-bottom: 1px solid #191919;
                }

                .dropdown-link {
                  padding: 15px;
                  @include displayflex($gap: 10px);
                }
              }
            }

            &.vehicles {
              position: unset;
              .dropdown-menu {
                width: calc(75vw - 30px);
                inset-block-start: 100%;
                inset-inline-end: 30px;
                inset-inline-start: unset;

                .row {
                  width: 100%;
                  margin: 0;
                  max-height: inherit;
                }

                .nav-pills {
                  border-inline-end: 1px solid #191919;
                  padding: 0;
                  max-height: inherit;
                  overflow-y: auto;
                  flex-wrap: nowrap;

                  .pills-link {
                    all: unset;
                    padding: 15px;
                    cursor: pointer;
                    @include displayflex($justify: space-between, $gap: 10px);

                    &::after {
                      content: "\f054";
                      font: var(--fa-font-solid);
                    }

                    &:not(:last-of-type) {
                      border-bottom: 1px solid #191919;
                    }

                    &.active {
                      background-color: $mainColor;
                    }
                  }
                }

                .tab-content {
                  padding-block: 20px;
                  max-height: inherit;
                  overflow-y: auto;
                  .tab-pane {
                    .nav-vehicles-slider {
                      .owl-nav {
                        text-align: end;

                        button {
                          margin: 0;
                          transition: $transition;

                          &:not(:last-of-type) {
                            margin-inline-end: 15px;
                          }

                          &.owl-next,
                          &.owl-prev {
                            color: $fontColor;
                            background-color: $whiteColor;
                            padding: 0;
                            width: 35px;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                          }

                          > i {
                            line-height: initial;
                          }

                          &:hover {
                            color: $mainColor;
                          }

                          &.disabled {
                            opacity: 1;

                            > i {
                              opacity: 0.5;
                            }
                          }
                        }
                      }
                    }
                    .vehicle-nav-card {
                      text-align: center;

                      .image-contain {
                        margin-block-end: 10px;
                        transition: $transition;
                      }

                      &:hover {
                        .image-contain {
                          transform: scale(1.1);
                        }

                        .title {
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .actions {
      @include displayflex();

      li:not(:last-of-type) {
        padding-inline-end: 20px;
        border-inline-end: 1px solid $whiteColor;
      }

      .action-btn {
        color: $whiteColor;
        border: none;
        outline: none;
        @include displayflex($gap: 10px);
        padding: 0;
        border-radius: 0;

        &.lang {
          font-family: $fontFamilyRtl;
        }

        &.nav-toggler {
          padding-inline-start: 20px;
          border-inline-start: 1px solid $whiteColor;
          display: none;
        }
      }

      .search {
        position: unset;
        .dropdown-toggle {
          &::after {
            display: none;
          }
        }

        .dropdown-menu {
          background-color: #3c3c3c;
          border: none;
          border-radius: 0;
          inset-block-start: calc(100% + 12px);
          padding: 0;
          margin-top: 0;
          max-height: 70vh;
          width: fit-content;
          min-width: calc(50vw - 30px);
          max-width: calc(100vw - 30px);
          inset-block-start: 100%;
          inset-inline-end: 30px;
          inset-inline-start: unset;

          .dropdown-item {
            background-color: transparent;
            padding: 15px;
            max-height: inherit;
            display: flex;
            flex-direction: column;
            white-space: initial;
          }

          form {
            .form-group {
              display: flex;
              align-items: stretch;

              input {
                height: 45px;
                border-radius: 10px;
                border-start-end-radius: 0;
                border-end-end-radius: 0;
                min-width: 200px;
                flex: 1;
                border: none;
              }

              .btn {
                padding: 0;
                height: 45px;
                aspect-ratio: 1/1;
                flex-shrink: 0;
                @include displayflex($justify: center);
                color: $whiteColor;
                background-color: $mainColor;
                border-radius: 10px;
                border-start-start-radius: 0;
                border-end-start-radius: 0;
              }
            }

            .search-list {
              background-color: $whiteColor;
              border-radius: 10px;
              border-start-start-radius: 0;
              border-start-end-radius: 0;
              flex: 1;
              overflow-y: auto;

              &::-webkit-scrollbar {
                width: 3px;
              }

              &::-webkit-scrollbar-track {
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background: $fontLightColor;
                border-radius: 10px;
              }

              .search-item {
                padding: 5px 15px;
                color: $fontColor;

                &:hover {
                  color: $mainColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
