.buttons {
  @include displayflex($gap: 15px, $wrap: wrap);
}

.btn-outline-primary {
  color: $fontColor;
  border-color: $fontColor;
  box-shadow: none !important;

  &:hover,
  &:focus-within,
  &:active,
  &:focus-visible {
    color: $whiteColor !important;
    border-color: $mainColor !important;
    background-color: $mainColor !important;
  }
}

.btn-primary {
  background-color: $mainColor !important;
  border-color: $mainColor !important;
  box-shadow: none;
}

.btn-outline-white {
  color: $whiteColor;
  border-color: $whiteColor;
  box-shadow: none;

  &:hover {
    border-color: $whiteColor;
  }
}

.btn-lg {
  font-size: inherit;
  padding-inline: 30px;
}

.btn-gradient {
  color: $whiteColor;
  background: $mainGradient;
  border: 1px solid #1e73be;
  padding: 10px 16px;
  border-radius: 0;
}

.btn-outline-white-2 {
  color: $whiteColor;
  border-color: $whiteColor;
  box-shadow: none;
  padding: 10px 16px;
  border-radius: 0;
}
