.vehicles-section {
  .nav-pills {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-inline: auto;
    width: fit-content;
    max-width: 100%;

    li {
      flex-shrink: 0;
    }

    .nav-link {
      color: $fontColor;
      background-color: transparent;
      border-radius: 0;
      border-bottom: 2px solid #f3c5cc;

      &.active,
      &:hover {
        color: $mainColor;
        border-color: $mainColor;
      }
    }
  }

  .vehicles-carousel {
    .item {
      padding-block: 10px;
    }
    .owl-nav {
      margin-top: 10px;
      button {
        margin: 0;
        transition: $transition;

        &:not(:last-of-type) {
          margin-inline-end: 15px;
        }

        &.owl-next,
        &.owl-prev {
          color: $fontColor;
          background-color: $whiteColor;
          border: 1px solid $fontLightColor;
          padding: 0;
          width: 45px;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        > i {
          line-height: initial;
        }

        &:hover {
          color: $mainColor;
        }

        &.disabled {
          opacity: 1;

          > i {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.vehicle-card {
  text-align: center;
  border-radius: 15px;
  padding: 20px;

  .image-contain {
    transition: $transition;
  }

  .title {
    margin-block-start: 18px;
    font-weight: bold;
    transition: $transition;
  }

  &:hover {
    box-shadow: 5px 5px 15px 5px #f1f1f1;
    .title {
      color: $mainColor;
      margin-block-start: 10px;
    }
  }
}
