* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: $fontColor;
}

[dir="ltr"] body {
  direction: ltr;
  font-family: $fontFamilyLtr;
}

[dir="rtl"] body {
  direction: rtl;
  font-family: $fontFamilyRtl;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

// image fit
.image-cover {
  overflow: hidden;

  img,
  video,
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-contain {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// section
section {
  padding-block: 40px;
}

.row-gap-30 {
  row-gap: 30px;
}

.row-gap-24 {
  row-gap: 24px;
}
