@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

$mainColor: #ce0e2d;
$navColor: #191919;
$fontColor: #313131;
$fontLightColor: #707070;
$whiteColor: #fff;
$borderColor: #a2a2a2;
$mainGradient: linear-gradient(
  90deg,
  #2d5792 0%,
  rgba(40, 134, 179, 0.859375) 21.03%,
  #7b4090 109.14%
);

$fontFamilyLtr: "Roboto", sans-serif;
$fontFamilyRtl: "Tajawal", sans-serif;

$transition: all 0.3s ease-in-out;
