@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: #313131;
}

[dir=ltr] body {
  direction: ltr;
  font-family: "Roboto", sans-serif;
}

[dir=rtl] body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.image-cover {
  overflow: hidden;
}
.image-cover img,
.image-cover video,
.image-cover iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-contain {
  overflow: hidden;
}
.image-contain img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  padding-block: 40px;
}

.row-gap-30 {
  row-gap: 30px;
}

.row-gap-24 {
  row-gap: 24px;
}

.navbar {
  color: #fff;
  background-color: #191919;
  padding-block: 12px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.navbar.fixed-nav {
  position: fixed;
  inset: 0;
  inset-block-end: unset;
}
.navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.navbar .content .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
.navbar .content .navbar-collapse .navbar-nav {
  gap: 0 30px;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding-inline: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  display: none;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item .nav-link, .navbar .content .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #fff;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
  color: #fff;
  background-color: #3c3c3c;
  border: none;
  border-radius: 0;
  inset-block-start: calc(100% + 12px);
  padding: 0;
  margin-top: 0;
  max-height: 70vh;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover, .navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #ce0e2d;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:not(:last-of-type) {
  border-bottom: 1px solid #191919;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item .dropdown-link {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles {
  position: unset;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu {
  width: calc(75vw - 30px);
  inset-block-start: 100%;
  inset-inline-end: 30px;
  inset-inline-start: unset;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .row {
  width: 100%;
  margin: 0;
  max-height: inherit;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .nav-pills {
  -webkit-border-end: 1px solid #191919;
          border-inline-end: 1px solid #191919;
  padding: 0;
  max-height: inherit;
  overflow-y: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .nav-pills .pills-link {
  all: unset;
  padding: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .nav-pills .pills-link::after {
  content: "\f054";
  font: var(--fa-font-solid);
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .nav-pills .pills-link:not(:last-of-type) {
  border-bottom: 1px solid #191919;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .nav-pills .pills-link.active {
  background-color: #ce0e2d;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content {
  padding-block: 20px;
  max-height: inherit;
  overflow-y: auto;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav {
  text-align: end;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button {
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button:not(:last-of-type) {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button.owl-next, .navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button.owl-prev {
  color: #313131;
  background-color: #fff;
  padding: 0;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button > i {
  line-height: initial;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button:hover {
  color: #ce0e2d;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button.disabled {
  opacity: 1;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .nav-vehicles-slider .owl-nav button.disabled > i {
  opacity: 0.5;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .vehicle-nav-card {
  text-align: center;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .vehicle-nav-card .image-contain {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .vehicle-nav-card:hover .image-contain {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar .content .navbar-collapse .navbar-nav .nav-item.dropdown.vehicles .dropdown-menu .tab-content .tab-pane .vehicle-nav-card:hover .title {
  font-weight: bold;
}
.navbar .content .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}
.navbar .content .actions li:not(:last-of-type) {
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  -webkit-border-end: 1px solid #fff;
          border-inline-end: 1px solid #fff;
}
.navbar .content .actions .action-btn {
  color: #fff;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  padding: 0;
  border-radius: 0;
}
.navbar .content .actions .action-btn.lang {
  font-family: "Tajawal", sans-serif;
}
.navbar .content .actions .action-btn.nav-toggler {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-border-start: 1px solid #fff;
          border-inline-start: 1px solid #fff;
  display: none;
}
.navbar .content .actions .search {
  position: unset;
}
.navbar .content .actions .search .dropdown-toggle::after {
  display: none;
}
.navbar .content .actions .search .dropdown-menu {
  background-color: #3c3c3c;
  border: none;
  border-radius: 0;
  inset-block-start: calc(100% + 12px);
  padding: 0;
  margin-top: 0;
  max-height: 70vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: calc(50vw - 30px);
  max-width: calc(100vw - 30px);
  inset-block-start: 100%;
  inset-inline-end: 30px;
  inset-inline-start: unset;
}
.navbar .content .actions .search .dropdown-menu .dropdown-item {
  background-color: transparent;
  padding: 15px;
  max-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: initial;
}
.navbar .content .actions .search .dropdown-menu form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.navbar .content .actions .search .dropdown-menu form .form-group input {
  height: 45px;
  border-radius: 10px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}
.navbar .content .actions .search .dropdown-menu form .form-group .btn {
  padding: 0;
  height: 45px;
  aspect-ratio: 1/1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  color: #fff;
  background-color: #ce0e2d;
  border-radius: 10px;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.navbar .content .actions .search .dropdown-menu form .search-list {
  background-color: #fff;
  border-radius: 10px;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}
.navbar .content .actions .search .dropdown-menu form .search-list::-webkit-scrollbar {
  width: 3px;
}
.navbar .content .actions .search .dropdown-menu form .search-list::-webkit-scrollbar-track {
  background: transparent;
}
.navbar .content .actions .search .dropdown-menu form .search-list::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}
.navbar .content .actions .search .dropdown-menu form .search-list .search-item {
  padding: 5px 15px;
  color: #313131;
}
.navbar .content .actions .search .dropdown-menu form .search-list .search-item:hover {
  color: #ce0e2d;
}

.nav-modal .modal-content {
  color: #fff;
  background-color: #191919;
}
.nav-modal .modal-content .modal-header,
.nav-modal .modal-content .modal-footer {
  border: none;
}
.nav-modal .modal-content .modal-header .close-btn {
  color: #fff;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}
.nav-modal .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}
.nav-modal .modal-content .modal-body .row {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mobile-offcanvas {
  color: #fff;
  background-color: #191919;
  height: 100vh !important;
}
.mobile-offcanvas .offcanvas-header .close-btn {
  color: #fff;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}
.mobile-offcanvas .offcanvas-body .pages-links li:not(:last-of-type) {
  border-bottom: 1px solid #777272;
}
.mobile-offcanvas .offcanvas-body .pages-links li .link {
  font-size: 18px;
  font-weight: bold;
  padding: 7px 0;
  border: none;
  color: #fff;
  background-color: transparent;
}
.mobile-offcanvas .offcanvas-body .pages-links li .accordion-item {
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.mobile-offcanvas .offcanvas-body .pages-links li .accordion-item .accordion-button {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.mobile-offcanvas .offcanvas-body .pages-links li .accordion-item .accordion-button::after {
  background-image: url("../imgs/white-select-arrow.svg");
}
.mobile-offcanvas .offcanvas-body .pages-links li .accordion-item .accordion-body {
  padding: 10px;
}

.header {
  aspect-ratio: 16/7;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-slider,
.header .header-slider .owl-stage-outer,
.header .header-slider .owl-stage,
.header .header-slider .owl-item,
.header .header-slider .item,
.header .header-slider .image-cover {
  height: 100%;
}
.header .header-slider .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: end;
}
.header .header-slider .owl-dots .owl-dot span {
  width: 40px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  margin: 0;
}
.header .header-slider .owl-dots .owl-dot:not(:last-of-type) {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.header .header-slider .owl-dots.vehicle-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  bottom: 10px;
}
.header .header-slider .owl-dots.vehicle-dots .owl-dot span {
  width: 10px;
  height: unset;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
}
.header .header-slider .owl-dots.vehicle-dots .owl-dot.active span {
  background-color: #fff;
}

.breadcrumb {
  color: #fff;
  position: relative;
  aspect-ratio: 1/0.25;
  padding-block: 20px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.breadcrumb > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  z-index: 1;
}
.breadcrumb::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 800px;
  inset-inline-end: unset;
  z-index: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
}

.footer-wrapper .footer {
  -webkit-border-before: 3px solid #ce0e2d;
          border-block-start: 3px solid #ce0e2d;
  padding-block: 30px;
}
.footer-wrapper .footer .logo img {
  width: 160px;
  max-width: 100%;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
.footer-wrapper .footer .title {
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-wrapper .footer .footer-links {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
.footer-wrapper .footer .footer-links li {
  margin-bottom: 10px;
}
.footer-wrapper .rights {
  padding-block: 15px;
  color: #fff;
  background-color: #313131;
}

.dark-page ~ .footer-wrapper {
  background-color: #1b1919;
  color: #fff;
}
.dark-page ~ .footer-wrapper .footer {
  border: none;
}
.dark-page ~ .footer-wrapper .rights {
  background-color: #1b1919;
}

.form-label .required {
  color: #c02b0a;
  font-style: italic;
}

.form-check-label a {
  color: #ce0e2d;
  display: inline-block;
}

.form-control,
.form-select {
  border: none;
  background-color: #f8f8f8;
  border-bottom: 2px solid #313131;
  font-size: 14px;
  color: #313131;
  min-height: 34px;
  line-height: normal;
  padding: 5px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  border-radius: 0;
  box-shadow: none !important;
}
.form-control:focus,
.form-select:focus {
  background-color: #f8f8f8;
  border-color: #313131;
}
.form-control.outlined,
.form-select.outlined {
  border: 1px solid #313131;
  border-radius: 0 !important;
}
.form-control.dark,
.form-select.dark {
  color: #fff;
  background-color: #313131;
  border-bottom: none;
  border: 1px solid #313131;
  --bs-form-select-bg-img: url("../imgs/white-select-arrow.svg");
  border-radius: 5px;
}
.form-control.dark::-webkit-input-placeholder, .form-select.dark::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.form-control.dark::-moz-placeholder, .form-select.dark::-moz-placeholder {
  color: #fff;
  font-size: 14px;
}
.form-control.dark:-ms-input-placeholder, .form-select.dark:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.form-control.dark::-ms-input-placeholder, .form-select.dark::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.form-control.dark::placeholder,
.form-select.dark::placeholder {
  color: #fff;
  font-size: 14px;
}
.form-control.dark:focus,
.form-select.dark:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(206, 14, 45, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(206, 14, 45, 0.25);
}
.form-control.dark.outlined,
.form-select.dark.outlined {
  border-color: #fff;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.btn-outline-primary {
  color: #313131;
  border-color: #313131;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus-within, .btn-outline-primary:active, .btn-outline-primary:focus-visible {
  color: #fff !important;
  border-color: #ce0e2d !important;
  background-color: #ce0e2d !important;
}

.btn-primary {
  background-color: #ce0e2d !important;
  border-color: #ce0e2d !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-outline-white:hover {
  border-color: #fff;
}

.btn-lg {
  font-size: inherit;
  padding-inline: 30px;
}

.btn-gradient {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#2d5792), color-stop(21.03%, rgba(40, 134, 179, 0.859375)), color-stop(109.14%, #7b4090));
  background: linear-gradient(90deg, #2d5792 0%, rgba(40, 134, 179, 0.859375) 21.03%, #7b4090 109.14%);
  border: 1px solid #1e73be;
  padding: 10px 16px;
  border-radius: 0;
}

.btn-outline-white-2 {
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 16px;
  border-radius: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
}
.social-links li .link {
  width: 24px;
  aspect-ratio: 1/1;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  border: 1px solid #313131;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-links li .link:hover {
  color: #ce0e2d;
  border-color: #ce0e2d;
}

.head-title {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
  color: #313131;
}

.head-title-2 {
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
}
.head-title-2 .subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: -webkit-gradient(linear, left top, right top, from(#2d5792), color-stop(21.03%, rgba(40, 134, 179, 0.859375)), color-stop(109.14%, #7b4090));
  background: linear-gradient(90deg, #2d5792 0%, rgba(40, 134, 179, 0.859375) 21.03%, #7b4090 109.14%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
.head-title-2 .title {
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.vehicles-section .nav-pills {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
.vehicles-section .nav-pills li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.vehicles-section .nav-pills .nav-link {
  color: #313131;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #f3c5cc;
}
.vehicles-section .nav-pills .nav-link.active, .vehicles-section .nav-pills .nav-link:hover {
  color: #ce0e2d;
  border-color: #ce0e2d;
}
.vehicles-section .vehicles-carousel .item {
  padding-block: 10px;
}
.vehicles-section .vehicles-carousel .owl-nav {
  margin-top: 10px;
}
.vehicles-section .vehicles-carousel .owl-nav button {
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vehicles-section .vehicles-carousel .owl-nav button:not(:last-of-type) {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.vehicles-section .vehicles-carousel .owl-nav button.owl-next, .vehicles-section .vehicles-carousel .owl-nav button.owl-prev {
  color: #313131;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 0;
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.vehicles-section .vehicles-carousel .owl-nav button > i {
  line-height: initial;
}
.vehicles-section .vehicles-carousel .owl-nav button:hover {
  color: #ce0e2d;
}
.vehicles-section .vehicles-carousel .owl-nav button.disabled {
  opacity: 1;
}
.vehicles-section .vehicles-carousel .owl-nav button.disabled > i {
  opacity: 0.5;
}

.vehicle-card {
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}
.vehicle-card .image-contain {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vehicle-card .title {
  -webkit-margin-before: 18px;
          margin-block-start: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vehicle-card:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #f1f1f1;
          box-shadow: 5px 5px 15px 5px #f1f1f1;
}
.vehicle-card:hover .title {
  color: #ce0e2d;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
}

.site-slogan {
  color: #fff;
  background-color: #313131;
  padding-block: 24px;
}
.site-slogan .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.site-slogan .content > * {
  margin: 0;
}
.site-slogan .content .title {
  font-weight: normal;
}
.site-slogan .details-navigate-link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-slogan .details-navigate-link:hover {
  color: #ce0e2d;
}

.welcome .text {
  text-align: center;
  text-wrap: balance;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}
.welcome .features {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}
.welcome .features .feature-card {
  aspect-ratio: 1/0.5;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  border: 1px solid #a2a2a2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome .features .feature-card i {
  color: #ce0e2d;
  font-size: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome .features .feature-card .title {
  font-weight: bold;
  text-transform: capitalize;
}
.welcome .features .feature-card:hover {
  color: #fff;
  background-color: #ce0e2d;
}
.welcome .features .feature-card:hover i {
  color: #fff;
}

.about-section > .container > .row {
  row-gap: 30px;
}
.about-section .slogan-s .about-features .feature-card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-section .slogan-s .about-features .feature-card:not(:last-of-type) {
  margin-bottom: 20px;
}
.about-section .slogan-s .about-features .feature-card i {
  color: #ce0e2d;
  font-size: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-section .slogan-s .about-features .feature-card .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about-section .slogan-s .about-features .feature-card .content .text {
  margin: 0;
}
.about-section .slogan-s .about-features .feature-card:hover {
  color: #fff;
  background-color: #ce0e2d;
}
.about-section .slogan-s .about-features .feature-card:hover i {
  color: #fff;
}
.about-section .slogan-e .video {
  aspect-ratio: 1/1;
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}
.about-section .slogan-e .video i {
  position: absolute;
  color: #ce0e2d;
  font-size: 60px;
  background-color: #fff;
  border-radius: 50%;
}

.contact-info .content {
  color: #fff;
  background-color: #313131;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}
.contact-info .content .slogan-s {
  padding: 30px 20px;
}
.contact-info .content .slogan-s .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}
.contact-info .content .slogan-s .info li:not(:last-of-type) {
  margin-bottom: 24px;
}
.contact-info .content .slogan-s .info li p,
.contact-info .content .slogan-s .info li a {
  margin: 0;
  font-weight: bold;
}
.contact-info .content .slogan-s .info li i {
  font-size: 18px;
  color: #ce0e2d;
}
.contact-info .content .slogan-e.image-cover {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}
.contact-info .form form {
  padding: 40px 20px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.dealer-locator .content {
  color: #707070;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}
.dealer-locator .content .tab-content {
  aspect-ratio: 16/8;
  overflow: hidden;
}
.dealer-locator .content .tab-content .image-cover {
  width: 100%;
  height: 100%;
}
.dealer-locator .content .pills-slog {
  padding-block: 20px;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}
.dealer-locator .content .pills-slog .nav-pills {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.dealer-locator .content .pills-slog .nav-pills::-webkit-scrollbar {
  width: 3px;
}
.dealer-locator .content .pills-slog .nav-pills::-webkit-scrollbar-track {
  background: transparent;
}
.dealer-locator .content .pills-slog .nav-pills::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link {
  color: #707070;
  background-color: transparent;
  padding-inline: 0;
  padding-block: 20px;
  border-radius: 0;
  text-align: start;
  font-size: 14px;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link:not(:last-of-type) {
  -webkit-border-after: 1px solid #707070;
          border-block-end: 1px solid #707070;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link .title {
  color: #ce0e2d;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link .contact-links li p,
.dealer-locator .content .pills-slog .nav-pills .nav-link .contact-links li a {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5px;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link .contact-links li p i,
.dealer-locator .content .pills-slog .nav-pills .nav-link .contact-links li a i {
  color: #ce0e2d;
}
.dealer-locator .content .pills-slog .nav-pills .nav-link .contact-links li:not(:last-of-type) {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.vehicle-details {
  color: #fff;
  background-color: #1b1919;
}
.vehicle-details .register-contact {
  position: relative;
}
.vehicle-details .register-contact .container {
  position: relative;
  z-index: 1;
}
.vehicle-details .register-contact .bg-absolute {
  position: absolute;
  z-index: 0;
}
.vehicle-details .register-contact .bg-absolute.img-1 {
  inset-inline-end: 0;
  inset-block-start: 30px;
}
.vehicle-details .register-contact .bg-absolute.img-2 {
  inset-inline-start: 0;
  inset-block-end: 30px;
}

.vehicle-welcome {
  background-color: #181b1b;
}
.vehicle-welcome .image {
  aspect-ratio: 1/0.8;
}

.vehicle-variants .slogan-s .variant-block:not(:last-of-type) {
  -webkit-border-end: 1px solid #3a3a3a;
          border-inline-end: 1px solid #3a3a3a;
}
.vehicle-variants .slogan-s .variant-block .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5px;
}
.vehicle-variants .slogan-s .variant-block .price span {
  color: #d9d9d9;
}
.vehicle-variants .slogan-s .variant-block .list ul {
  list-style-type: disc;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.vehicle-variants .slogan-s .variant-block .list ul li {
  margin-bottom: 10px;
}
.vehicle-variants .slogan-s .variant-block .list ul li.red {
  color: #ce0e2d;
}
.vehicle-variants .slogan-s .variant-block .details-link {
  text-decoration: underline;
}
.vehicle-variants .slogan-s .variant-block .details-link:hover {
  text-decoration: none;
  color: #ce0e2d;
}

.vehicle-slider-colors .swiper-slide {
  text-align: center;
}
.vehicle-slider-colors .swiper-slide .image {
  aspect-ratio: 1/0.35;
}
.vehicle-slider-colors .swiper-button {
  background: rgba(0, 0, 0, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==) no-repeat scroll 50% 50%/7px 11px;
  border-radius: 32px;
  display: block;
  height: 32px;
  margin-top: -16px;
  overflow: hidden;
  text-indent: -999em;
  top: 50%;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  width: 32px;
}
.vehicle-slider-colors .swiper-button.swiper-button-prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.vehicle-slider-colors .swiper-button.swiper-button-disabled {
  opacity: 0.6;
}

.vehicle-palettes .swiper-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.vehicle-palettes .swiper-slide {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 35px;
  border: 2px solid #fff;
  cursor: pointer;
}

.vehicle-gallery {
  background-color: #fff;
}
.vehicle-gallery .head-title-2 .title {
  color: #313131;
}
.vehicle-gallery .gallery-card {
  aspect-ratio: 1/0.55;
}

.vehicle-details-banners .banner {
  padding-block: 12%;
  position: relative;
}
.vehicle-details-banners .banner .bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vehicle-details-banners .banner .title {
  margin-bottom: 15px;
}
.vehicle-details-banners .banner:nth-last-of-type(2n + 2) > .container > .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.vehicle-details-accessories .accordion .accordion-item {
  overflow: hidden;
  color: #fff;
  background-color: #313131;
  border-radius: 12px;
}
.vehicle-details-accessories .accordion .accordion-item:not(:last-of-type) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
.vehicle-details-accessories .accordion .accordion-item .accordion-header .accordion-button {
  color: #fff;
  background-color: #191919;
  border-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 18px;
}
.vehicle-details-accessories .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("../imgs/white-select-arrow.svg");
}
.vehicle-details-accessories .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ce0e2d;
}
.vehicle-details-accessories .accordion .accordion-item .accordion-body ul li p {
  padding: 10px;
  background-color: #191919;
  border-radius: 8px;
}
.vehicle-details-accessories .accessories .accessories-carousel .item {
  border-radius: 8px;
  aspect-ratio: 16/12;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  margin: 15px 15px;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav {
  margin-top: 30px;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button {
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button:not(:last-of-type) {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button.owl-next, .vehicle-details-accessories .accessories .accessories-carousel .owl-nav button.owl-prev {
  color: #313131;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 0;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button > i {
  line-height: initial;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button:hover {
  color: #ce0e2d;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button.disabled {
  opacity: 1;
}
.vehicle-details-accessories .accessories .accessories-carousel .owl-nav button.disabled > i {
  opacity: 0.5;
}

[dir=rtl] .navbar .content .nav-item.dropdown.vehicles .pills-link::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
[dir=rtl] .breadcrumb::before {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
}
[dir=rtl] .vehicle-details-banners .banner .bg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
[dir=rtl] .vehicle-slider-colors,
[dir=rtl] .vehicle-palettes {
  direction: rtl;
}
[dir=rtl] .vehicle-slider-colors .swiper-button {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
[dir=rtl] .vehicle-slider-colors .swiper-button.swiper-button-prev {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
[dir=rtl] .vehicle-details .register-contact .bg-absolute {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 1199.98px) {
  .navbar .content .actions .nav-toggler.nav-toggler {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .vehicle-details-banners .banner {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }
  .vehicle-details-banners .banner .bg {
    position: relative;
    aspect-ratio: 16/5;
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar-brand img {
    width: 130px;
  }
  .welcome .features .feature-card i {
    font-size: 45px;
  }
  .footer-wrapper .footer .footer-links {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media (max-width: 320px) {
  .navbar .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */