.vehicle-details {
  color: $whiteColor;
  background-color: #1b1919;

  .register-contact {
    position: relative;

    .container {
      position: relative;
      z-index: 1;
    }

    .bg-absolute {
      position: absolute;
      z-index: 0;

      &.img-1 {
        inset-inline-end: 0;
        inset-block-start: 30px;
      }

      &.img-2 {
        inset-inline-start: 0;
        inset-block-end: 30px;
      }
    }
  }
}

.vehicle-welcome {
  background-color: #181b1b;

  .image {
    aspect-ratio: 1/0.8;
  }
}

.vehicle-variants {
  .slogan-s {
    .variant-block {
      &:not(:last-of-type) {
        border-inline-end: 1px solid #3a3a3a;
      }

      .price {
        @include displayflex($align: flex-start, $gap: 5px);

        span {
          color: #d9d9d9;
        }
      }

      .list {
        ul {
          list-style-type: disc;
          padding-inline-start: 20px;

          li {
            margin-bottom: 10px;

            &.red {
              color: $mainColor;
            }
          }
        }
      }

      .details-link {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
          color: $mainColor;
        }
      }
    }
  }
}

.vehicle-slider-colors {
  .swiper-slide {
    text-align: center;

    .image {
      aspect-ratio: 1/0.35;
    }
  }

  .swiper-button {
    background: rgba(0, 0, 0, 0.2)
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==)
      no-repeat scroll 50% 50% / 7px 11px;
    border-radius: 32px;
    display: block;
    height: 32px;
    margin-top: -16px;

    overflow: hidden;
    text-indent: -999em;
    top: 50%;
    transition: opacity 0.2s ease 0s;
    width: 32px;

    &.swiper-button-prev {
      transform: scaleX(-1);
    }

    &.swiper-button-disabled {
      opacity: 0.6;
    }
  }
}

.vehicle-palettes {
  .swiper-wrapper {
    width: fit-content;
    margin-inline: auto;
  }
  .swiper-slide {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 35px;
    border: 2px solid $whiteColor;
    cursor: pointer;
  }
}

.vehicle-gallery {
  background-color: $whiteColor;

  .head-title-2 .title {
    color: $fontColor;
  }

  .gallery-card {
    aspect-ratio: 1/0.55;
  }
}

.vehicle-details-banners {
  .banner {
    padding-block: 12%;
    position: relative;

    .bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }
    }

    .title {
      margin-bottom: 15px;
    }

    &:nth-last-of-type(2n + 2) {
      > .container > .row {
        flex-direction: row-reverse;
      }
    }
  }
}

.vehicle-details-accessories {
  $radius: 12px;
  .accordion {
    .accordion-item {
      overflow: hidden;
      color: $whiteColor;
      background-color: $fontColor;
      border-radius: $radius;

      &:not(:last-of-type) {
        margin-block-end: 15px;
      }

      .accordion-header {
        .accordion-button {
          color: $whiteColor;
          background-color: $navColor;
          border-radius: $radius;
          box-shadow: none;
          border: none;
          transition: $transition;
          font-weight: bold;
          font-size: 18px;

          &::after {
            background-image: url("../imgs/white-select-arrow.svg");
          }

          &:not(.collapsed) {
            background-color: $mainColor;
          }
        }
      }

      .accordion-body {
        ul {
          li {
            p {
              padding: 10px;
              background-color: $navColor;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

  .accessories {
    .accessories-carousel {
      .item {
        border-radius: 8px;
        aspect-ratio: 16/12;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
        margin: 15px 15px;
      }

      .owl-nav {
        margin-top: 30px;
        button {
          margin: 0;
          transition: $transition;

          &:not(:last-of-type) {
            margin-inline-end: 15px;
          }

          &.owl-next,
          &.owl-prev {
            color: $fontColor;
            background-color: $whiteColor;
            border: 1px solid $fontLightColor;
            padding: 0;
            width: 35px;
            aspect-ratio: 1/1;
            border-radius: 50%;
          }

          > i {
            line-height: initial;
          }

          &:hover {
            color: $mainColor;
          }

          &.disabled {
            opacity: 1;

            > i {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
