[dir="rtl"] {
  .navbar .content .nav-item.dropdown.vehicles .pills-link {
    &::after {
      transform: scaleX(-1);
    }
  }

  .breadcrumb {
    &::before {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.56) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .vehicle-details-banners {
    .banner {
      .bg {
        transform: scaleX(-1);
      }
    }
  }

  .vehicle-slider-colors,
  .vehicle-palettes {
    direction: rtl;
  }

  .vehicle-slider-colors {
    .swiper-button {
      transform: scaleX(-1);

      &.swiper-button-prev {
        transform: scaleX(1);
      }
    }
  }

  .vehicle-details {
    .register-contact {
      .bg-absolute {
        transform: scaleX(-1);
      }
    }
  }
}
